/* Importación de fuente */
@font-face {
    font-family: 'miFuente';
    src: url('../fonts/LeckerliOne-Regular.ttf');
}
/* Para resetear los margenes originales */
*{
    margin: 0;
}
/* Se agrega un tipo de letra diferente para toda la web */
body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Se agrega la imagen en el header y se le agregan otros valores */
.header{
    background-image: url(../imgs/bucky3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height:250px;
    margin-bottom: 20px;
}
/* Se aleja el texto de la orilla y se separa del margen superior */
.text-header{
    margin-left:50px;
    padding-top: 50px;
}
/* Se le da estilo a una parte del titulo y se agrega un fondo al span */
.text-header span{
    font-family:'miFuente';
    background-color:lightblue;
    border-radius: 50%;
    padding: 5px;
}
/* Se separa el titulo del texto inferior */
.h1{
    margin-bottom: 30px;
}
/* Centro la tabla */
 table{
    margin:50px 0px 50px 550px;
}
/* Se le da estilo a las imagenes, dejandolas redondas */
img{
    border-radius: 50%;
    margin-left: 20px;
}
.td{
    margin-right: 10px;
}
/* Agrego color el footer */
.footer{
    background-color:#E3E3E2;
}
/* Centro y le doy altura al texto en el footer */
.footer {
    text-align: center;
    padding-bottom: 10px;
}

.fa-brands.fa-instagram {
    display: inline-block;
    margin: 0 auto;
    padding-top: 10px;
}
